* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: rgb(18, 18, 62);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  /*to remove bullets in list items*/
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white
}

nav ul li a:hover {
  color: rgb(131, 131, 230);
  font-size: 1.02rem;
}

hr {
  border: 0;
  background: rgb(82, 82, 178);
  height: 1.2px;
  margin: 30px 64px;
}

.left {
  font-size: 1rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 120px 0;
  align-items: center;

}

.firstSection>div {
  width: 40%;

}

.leftSection {
  font-size: 3rem;
}
.leftSection .buttons {
  padding:50px 0;
}
.leftSection .btn {
  padding:10px;
  margin: 0 5px ;
  background: #280a52;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.rightSection img {
  width: 80%;
}

.purple {
  color: rgb(153, 69, 231);
}

.text-gray {
  color: gray
}

/* ------------------------------------------------second section---------------------------------------------------*/
.secondSection {
  max-width: 80vw;
  height: 80vh;
  margin: auto
}

.secondSection h1 {
  font-size: 1.9rem;
}

.secondSection .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondSection .vertical {
  background: white;
  width: 1px;
  height: 93px;
  margin: auto;
}

.image-top {
  width: 34px;
  position: relative;
  top: -36px;
  left: -9px;
}

.vertical-title {
  width: 180px;
  position: relative;
  top: 75px;
  font-size: 14px;
}

.vertical-desc {
  position: relative;
  top: 86px;
  color: gray;
  width: 150px;
  font-size: 9px;
}

/* --------------------------------------------footer----------------------------------------- */
footer {
  background-color: #050543;
  /* height: 243px */
}
.footer{
  display: flex;
  padding:23px 139px;
  justify-content: space-around;
}
.footer ul{
  list-style: none;
}
.footer > div {
  width:234px
}
footer .footer-text{
text-align: center;
color: gray;
padding: 12px 0;
}
@media screen and (max-width:1000px) {
  body{
    /* background: red; */
    min-width: fit-content;
  }
  .box{
    flex-direction: column;
  }
  nav{
    flex-direction: column;
  }
  .firstSection{
    flex-direction: column-reverse;
  }
  .secondSection .vertical{
    height: unset;
  }
  .secondSection .box{
    width:80vw;
  }
  .secondSection{
    height:181vh;
  }
  .secondSection{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .vertical-title, .vertical-desc{
    left:45px;
  }
 
  /* footer{
    display: none;
  } */
  .leftSection{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightSection{
    width: 721px !important;
    display: flex;
    justify-content: center;
  }
  .rightSection img{
    width:45vw;
    margin-bottom:73px;
  }
  .image-top{
    top:122px;
  }
}